.DS_Store
__pycache__
/TEMP
/AUDIOS
/DATASETS
/LOGS
/RUNTIME
*.pyd
hubert_base.pt
/logs
.venv
alexforkINSTALL.bat
Changelog_CN.md
Changelog_EN.md
Changelog_KO.md
difdep.py
EasierGUI.py
envfilescheck.bat
export_onnx.py
export_onnx_old.py
ffmpeg.exe
ffprobe.exe
Fixes/Launch_Tensorboard.bat
Fixes/LOCAL_CREPE_FIX.bat
Fixes/local_fixes.py
Fixes/tensor-launch.py
gui.py
infer-web — backup.py
infer-webbackup.py
install_easy_dependencies.py
install_easyGUI.bat
installstft.bat
Launch_Tensorboard.bat
listdepend.bat
LOCAL_CREPE_FIX.bat
local_fixes.py
oldinfer.py
onnx_inference_demo.py
Praat.exe
requirementsNEW.txt
rmvpe.pt
run_easiergui.bat
tensor-launch.py
values1.json
使用需遵守的协议-LICENSE.txt
trainset_preprocess_pipeline_print.py
configs/48k.json
configs/40k.json
configs/32k.json
