ffmpeg.exe
ffprobe.exe

runtime
env/
torchcrepe
datasets/
logs/

assets/audios/

assets/rmvpe/rmvpe.pt
assets/rmvpe/rmvpe.onnx
assets/hubert/hubert_base.pt

*.pyc
*.pyd
*.swp
__pycache__
lib/csvdb/stop.csv
