# General dependencies
pip==23.3; sys_platform == 'darwin'
wheel; sys_platform == 'darwin'
PyYAML; sys_platform == 'darwin'
ffmpeg-python>=0.2.0
numpy==1.23.5
requests==2.32.0
tqdm
wget

# Audio processing
faiss-cpu==1.7.3
librosa==0.9.2
pyworld==0.3.4
scipy==1.11.1
soundfile==0.12.1
praat-parselmouth
noisereduce
audio_upscaler==0.1.4
pedalboard

# Machine learning
omegaconf==2.0.5; sys_platform == 'darwin'
numba; sys_platform == 'linux'
numba==0.57.0; sys_platform == 'darwin' or sys_platform == 'win32'
torchaudio==2.1.1
torch==2.1.1
torchcrepe==0.0.23
torchvision==0.16.1
einops
libf0
torchfcpe
transformers==4.44.2

# Visualization
matplotlib==3.7.2
tensorboard
gradio==4.36.0

# Miscellaneous
certifi==2024.7.4; sys_platform == 'darwin'
antlr4-python3-runtime==4.8; sys_platform == 'darwin'
ffmpy==0.3.1
tensorboardX
edge-tts==6.1.9
pypresence
beautifulsoup4
flask
local-attention
