setuptools
fairseq==0.12.2
wheel
pedalboard
pydub==0.25.1
ffmpy==0.3.1
gradio==3.34.0
librosa==0.9.1
gTTS==2.3.2
wget
matplotlib==3.7.2
mega.py==1.0.8
git+https://github.com/wkentaro/gdown.git
edge-tts
nltk
numba; sys_platform == 'linux'
numba==0.56.4; sys_platform == 'win32'
numpy==1.23.5
onnxruntime
onnxruntime_gpu==1.15.1
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
praat-parselmouth==0.4.2
pyworld==0.3.4
requests==2.31.0
scipy==1.11.1
sounddevice==0.4.6
soundfile==0.12.1
ffmpeg-python>=0.2.0
tensorboard==2.13.0
torch==2.0.0
torchcrepe==0.0.21
torchaudio==2.0.1
torchvision==0.15.1
torchgen>=0.0.1
tqdm==4.65.0
python-dotenv>=1.0.0
av
fastapi==0.95.2
protobuf==3.20.2
tensorboardX==2.6.2.1
flask_cors
flask
resampy==0.4.2
faiss-cpu==1.7.3
httpx